*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

/*APLICAMOS DISEÑOS AL BODY*/
body{
    background-color: #141631;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    /*Genera una mano cuando el mouse está sobre el elemento*/
    cursor: pointer;
}

/*APLICAMOS ESTILOS AL HEADER*/
header{
    width: 100%;
    height: 60px;
} 

header nav{
    /*Al usar flex los elementos heredan la flexilidad del contenedor padre*/
    display: flex;
    /*Lo movemoss al lado derecho de la pantalla.*/
    justify-content: flex-end;
}

/*Aplicamos estilos al UL*/
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-top: 30PX;
}

nav .nav-right-section a{
    margin-right: 20px;
    color: white;
}

nav .nav-right-section a:hover{
    text-shadow: 0px 0px 2px white;
}


/*Poner el icono en ICON*/
nav .nav-right-section .menu-icon{
    background-image: url("https://img.icons8.com/ios-glyphs/30/ffffff/circled-menu.png");
    /*Para que la imagen no se repita*/
    background-repeat: no-repeat;
    background-position: center;
    /*Para que logre estar al tamaño del contenedor*/
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section .menu-icon:hover{
    border-radius: 50px;
    box-shadow: #a0a7ac 0px 0px 0px 8px;
    background-color: #a0a7ac;
}

nav .nav-right-section img{
    border-radius: 50px;
    margin-left: 20px;
}

nav .nav-right-section img:hover{
    box-shadow: #A0A7AC 0px 0px 1px 5px;
}

/*ESTILOS AL MAIN-LOGO*/

main{
    margin-top: 150px;
    /*Centra todo el contenido del main*/
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 300px;
}

/* ESTILOS AL MAIN-INPUT */

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: #a0a7ac 1px solid;
    /*Para colocar los elementos de forma lineal*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

main .main-input-container:hover{
   box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
   border-color: #a0a7ac;
}

main .main-input-container input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    color: #141631;
}

/*Imágenes del INPUT*/
main .main-input .search-icon{
    background-image: url("https://i.dlpng.com/static/png/91009_preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .micro-icon{
    background-image: url("https://freepngimg.com/download/microphone/70666-voice-microphone-google-search-logo-png-file-hd.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/*ESTILOS DE LOS BOTONES*/

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
    margin-left: 10px;
}

main .main-buttons button{
    height: 36px;
    background-color: #1a1c36;
    border: #a0a7ac13 1px solid;
    font-size: 1.4rem;
    padding: 0 15px;
    margin-right: 15px;
}


main .main-buttons button:hover{
    box-shadow: rgb(255, 255, 255) 0px 0px 3px 0px;
    border: #a0a7ac 1px solid;
}

main .main-buttons button a{
    color: white;
}

main .main-buttons button a:hover{
    color: rgb(235, 235, 235);
}

/*ESTILOS AL FOOTER*/

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    
}

footer .section1{
    background-color: #131422;
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;

}

footer .section1 p{
    margin-left: 20px;
    color: white;
}

footer .section2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: #131422;
}

footer .section2 ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .section2 .footer-left{
    justify-self: left;
}

footer .section2 .footer-right{
    justify-self: right;
}

footer .section2 ul li a{
    color: rgb(255, 255, 255);
    margin: 10px;
}