*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

/*APLICAMOS DISEÑOS AL BODY*/
body{
    background-color: #141631;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    /*Genera una mano cuando el mouse está sobre el elemento*/
    cursor: pointer;
}

/*APLICAMOS ESTILOS AL HEADER*/
header{
    width: 100%;
    height: 60px;
} 

header nav{
    /*Al usar flex los elementos heredan la flexilidad del contenedor padre*/
    display: flex;
    /*Lo movemoss al lado derecho de la pantalla.*/
    justify-content: flex-end;
}

/*Aplicamos estilos al UL*/
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-top: 30PX;
}

nav .nav-right-section a{
    margin-right: 20px;
    color: white;
}

nav .nav-right-section a:hover{
    text-shadow: 0px 0px 2px white;
}


/*Poner el icono en ICON*/
nav .nav-right-section .menu-icon{
    background-image: url("https://img.icons8.com/ios-glyphs/30/ffffff/circled-menu.png");
    /*Para que la imagen no se repita*/
    background-repeat: no-repeat;
    background-position: center;
    /*Para que logre estar al tamaño del contenedor*/
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section .menu-icon:hover{
    border-radius: 50px;
    box-shadow: #a0a7ac 0px 0px 0px 8px;
    background-color: #a0a7ac;
}

nav .nav-right-section img{
    border-radius: 50px;
    margin-left: 20px;
}

nav .nav-right-section img:hover{
    box-shadow: #A0A7AC 0px 0px 1px 5px;
}
